/.quarto/
/_book/
/.cache/
/.ipynb_checkpoints/
/fenicsx/ns/dfg2D-3-p.bp/
/fenicsx/ns/dfg2D-3-u.bp/
/fenicsx/ns/poiseuille-p.bp/
/fenicsx/ns/poiseuille-u.bp/

# ParaView 세션 파일 무시
*.pvsm
**/*.quarto_ipynb
